body {
    background-image: url(image2.jpg);
    background-size: 13cm;
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
#MachineLearning {
    padding-right: 5cm;
    margin-right:340pt;
    margin-left:50pt;
    margin-top:65pt;
}
a:link {
    color: #6699cc;
    text-decoration: none;
}
a:visited{
    color: #6699cc;
    text-decoration: none;
}
a:active{
    background-color: #FFFF00;
    text-decoration: none;
}
a:hover{
    color: purple;
    font-style: italic;
    text-decoration: underline;
}
